*{
    margin: 0;
    padding: 0;
    color: white;
    background-color: #506042;
}
#content {
    display: grid;
    grid-template-columns: .2fr 1fr;
    grid-template-areas: 
    "side main main"
    "side main main"
    ;
    min-height: 63.1rem;
}
/* ======================================Side Bar Content=========================================== */
#sidebar{
    grid-area: side;
    border: .3rem solid blue;
}
header{
    font-size: 2rem
}
/* #create-new-list-btn-ctnr{
    border: .3rem solid yellow;
} */
#sidebar-list-projects-ctnr{
    border: .3rem solid purple;
}
#create-new-list-btn{
    /* border: none; */
    /* padding: 1rem; */
    /* border-radius: 1rem; */
}
#sidebar-note-ctnr{
    border: .3rem solid pink;
}
#dialog-form-container{
    margin: 20rem 0rem 0rem 50rem;
}
/* ======================================Main Content=============================================== */
#main-content{
    grid-area: main;
    border: .3rem solid red;
}